body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.heading-2 {
  font-size: 2.25em; /* 36px */
  line-height: 1.11;
  font-weight: 700;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.heading-3 {
  font-size: 1.25em; /* 20px */
  line-height: 1.2;
  font-weight: 500;
  color: #2e2f42;
}

.main-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.125em; /* 18px*/
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.main-list-item {
  background-color: #fff;
}

.main-logo-dark {
  color: #2e2f42;
}

.main-logo-light {
  color: #f4f4fd;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
}

.contacts-link {
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

.hero-heading {
  color: #fff;
  font-size: 3.5em; /* 56px*/
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
}

.btn-cta {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.btn-cta:hover,
.btn-cta:focus {
  background-color: #404bbf;
}

.our-team {
  background-color: #f4f4fd;
}

.main-footer {
  background-color: #2e2f42;
}

.text-light {
  color: #f4f4fd;
}
